<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paginita de prueba</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="contenedor0">
        <h2>soy contenedor0</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quam nulla dolorem quo repellendus neque error quod illo? Facilis eos tempore eaque vero atque itaque veniam reiciendis animi cupiditate quis?</p>
        
    </div>
    <div class="contenedor1">
        <h2>soy contenedor1</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quam nulla dolorem quo repellendus neque error quod illo? Facilis eos tempore eaque vero atque itaque veniam reiciendis animi cupiditate quis?</p>
        <article class="contenedor2"> 
            soy el contendor 2
        </article>
    </div>
    <div class="contenedor2">
        <h2>soy contenedor2</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quam nulla dolorem quo repellendus neque error quod illo? Facilis eos tempore eaque vero atque itaque veniam reiciendis animi cupiditate quis?</p>
        <article class="contenedor1"> 
            soy el contendor 1
        </article>
    </div>
</body>




</html>